:root {
  /* Default Theme */

  --primary: #059bdc;
  --secondary: #3db1e2;
  --dark: #252525;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  --bg: #404040;
  --card: #ffffff;
  --text: #059bdc;
  --border: #3db1e2;
  --modal-color: #3db1e2;
  h4,
  #queue-title,
  a,
  #welcome-text,
  .queue-number,
  .queue-display,
  .info-box,
  .ticket-card,
  .label,
  .btn-primary,
  .btn-danger {
    color: var(--text);
  }
}

/* Light Mode */

[data-theme="light"] {
  --bg: #ffffff;
  --card: #f8fafc;
  --text: #121212;
  --border: #e2e8f0;
  h4,
  a,
  form {
    color: var(--text);
  }
  #prt-btn {
    background: var(--bg);
    border: 1px solid #121212;
    color: var(--text);
  }
  #prt-btn:hover {
    background: #f1f1f1;
  }
  .hero-label,
  .hero-number {
    color: var(--text);
  }
  .hero-serving {
    background: var(--card);
    color: white;
  }
  .modal-content,
  .modal-header {
  }
}

/* Dark Mode */

[data-theme="dark"] {
  --bg: #121212;
  --card: #181818;
  --text: #ffffff;
  --border: #404040;
  small,
  a,
  #welcome-text,
  .queue-number,
  .queue-display,
  .info-box,
  .ticket-card,
  .label,
  .btn-primary,
  .btn-danger {
    color: var(--text);
  }
  |a:var(--border) {
    color: var(--text);
  }
  body {
    background: var(--bg);
    color: var(--text);
  }
  #prt-btn {
    background: #282828;
    border: 1px solid #282828;
    color: #3db1e2;
  }
  #prt-icon {
    color: var(--text);
  }
  #prt-btn:hover {
    background: var(--border);
  }
  .menu a:hover {
    background: var(--border);
    color: white;
  }
  .hero-label,
  .hero-number {
    color: var(--text);
  }
  .hero-serving {
    background: var(--card);
    color: white;
  }
  .stats-card {
    background: var(--card);
    color: var(--text);
    border: 1px solid var(--border);
  }
  #reception-name {
    color: var(--accent-color);
    font-weight: 700;
  }
  #reception-status.active {
    color: #28a745;
  }
  #reception-status.away {
    color: #ffc107;
  }
}
#active-count {
  color: var(--accent-color);
  font-weight: 700;
}

body {
  background: var(--bg);
  color: var(--text);

  transition: 0.3s;
}

.card-v3 {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 20px;
}

.sidebar {
  position: fixed;

  left: 0;
  top: 0;

  width: 260px;
  height: 100vh;

  background: var(--card);

  border-right: 1px solid var(--border);

  padding: 20px;

  z-index: 1000;
}

.sidebar {
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .menu-text {
  display: none;
}

.sidebar.collapsed .logo-text {
  display: none;
}

.sidebar.collapsed .menu a {
  text-align: center;
}

.sidebar.collapsed .menu i {
  font-size: 22px;
}

.logo {
  margin-bottom: 40px;
}

.menu a {
  display: block;

  text-decoration: none;

  color: var(--text);

  padding: 12px;

  border-radius: 12px;

  margin-bottom: 8px;

  transition: 0.2s;
}

.menu a:hover {
  background: var(--primary);
  color: white;
}

.top-header {
  height: 70px;

  background: var(--card);

  border-bottom: 1px solid var(--border);

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 25px;

  margin-left: 260px;

  transition: all 0.3s ease;
}

.top-header.expanded {
  margin-left: 80px;
}

.main-content {
  margin-left: 260px;

  padding: 25px;

  transition: all 0.3s ease;
}

.main-content.expanded {
  margin-left: 80px;
}
